$green : #3f3;

h1 {
		font-size: 3em;
		color: #888;
	}
	nav {
		background: #ddd;

	li {
		display: inline-block;
	}
	a {
		/*box-sizing: border-box;*/
		padding: 4px 6px;
		background: #3f3;
		border: 1px solid #333;
		margin: 4px;
	}
}